<div class="map"
    [style]="'grid-template-columns: repeat(' + mapSize.x + ', 1fr);grid-template-rows: repeat(' + mapSize.y + ', 1fr);'">
    <ng-container *ngFor="let innerArray of cells; let X = index">
        <ng-container *ngFor="let cell of innerArray; let Y = index">

            <div *ngIf="cell.isLocked">
                <app-cell [image]="cell.cell.image[turns % cell.cell.image.length]" [name]="cell.cell.name"
                    [cellSize]="cellSize" [id]="{'X': X, 'Y': Y}" (cellDragId)="cellDragId($event)"
                    [isLocked]="cell.isLocked" />
            </div>

            <div *ngIf="!cell.isLocked" (dragover)="dragOver($event)" (drop)="drop($event,X,Y)">
                <app-cell [image]="cell.cell.image[turns % cell.cell.image.length]" [name]="cell.cell.name"
                    [cellSize]="cellSize" [id]="{'X': X, 'Y': Y}" (cellDragId)="cellDragId($event)"
                    [isLocked]="cell.isLocked" />
            </div>
            
        </ng-container>
    </ng-container>
</div>